{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
